
@media screen AND (min-width: 1201px) { .container { width: 25% !important;} }
@media screen AND (max-width: 1200px) { .container { width: 40% !important;} }
@media screen AND (max-width: 992px) { .container { width: 50% !important;} }
@media screen AND (max-width: 768px) { .container { width: 60% !important;} }
@media screen AND (max-width: 576px) { .container { width: 80% !important;} }
@media screen AND (max-width: 400px) { .container { width: 100% !important;} }